<label for="perspectiveSearchtemplate">{{'webclient.perspective.searchtemplate' | i18n}}</label>
<select
	id="perspectiveSearchtemplate"
	[(ngModel)]="perspective.searchTemplatePrefId"
	(change)="change.next()"
	class="form-control"
	[disabled]="!hasSearchtemplatePrefs()"
>
	<option></option>
	<option
		*ngFor="let pref of model.getSearchTemplatePrefs(perspective)"
		[value]="pref.prefId"
	>
		{{pref.name}}
	</option>
</select>
