<div id="search-editor">
	<div id="search-editor-toolbar">
		<nuc-search-filter-selector
				#searchfilterSelector
				[meta]="getMeta()"
				[searchfilter]="getSelectedSearchfilter()"
				[disabled]="!showSearchItems()"
		></nuc-search-filter-selector>
		<button id="search-editor-fixed-button"
		        class="btn btn-link toolbar-button ml-1 p-1"
		        [ngClass]="{'button-active': isEditorFixed()}"
		        (click)="setEditorFixed(!isEditorFixed())"
		        title="{{'webclient.searcheditor.fixed' | i18n}}"
		>
			<i class="fa fa-fw fa-thumb-tack"></i>
		</button>
		<button
			*ngIf="getSelectedSearchfilter() && showSearchItems()"
			id="meta-edit"
			class="btn btn-link toolbar-button p-1"
			[ngClass]="{'button-active': metaEditingActive}"
			(click)="editMeta()"
			title="{{'webclient.searcheditor.searchfilter.edit.meta' | i18n}}"
		>
			<i *ngIf="!isDirty()"
			   class="fa fa-fw fa-wrench"></i>
			<i *ngIf="isDirty()"
			   class="fa fa-fw fa-floppy-o"></i>
		</button>
		<button
			*ngIf="!showSearchItems()"
			id="done-button"
			class="btn btn-link toolbar-button p-1"
			(click)="editMetaDone()">
			<i class="fa fa-fw fa-times-circle"></i>
		</button>
		<button
				id="search-execution"
				*ngIf="getSelectedSearchfilter()"
				class="btn btn-link toolbar-button p-1"
				(click)="doSearch(true, true)"
				[disabled]="!showSearchItems()"
				title="{{'webclient.searcheditor.searchfilter.execute' | i18n}}"
		>
			<i class="fa fa-fw fa-refresh"></i>
		</button>
		<button
				id="searchfilter-clear"
				class="btn btn-link toolbar-button p-1"
				(click)="clearSearchfilter()"
				[disabled]="!showSearchItems()"
				title="{{'webclient.searcheditor.searchfilter.clear' | i18n}}"
		>
			<i class="fa fa-fw fa-eraser"></i>
		</button>
	</div>

	<div class="search-editor-attributes-container"
	     [ngClass]="{'search-editor-attributes-container-popover': !isEditorFixed()}"
	     [ngStyle]="{height: searchAttributesContainerHeight + 'px'}">

		<div id="search-item-ordering" class="search-editor-content">
			<div id="search-item-ordering-container" class="form-group"
			     *ngIf="getSelectedSearchfilter() && itemResortActive">
				<nuc-two-side-multi-select
						[singleSideMode]="true"
						[disableFilter]="true"
						[(list)]="itemSelectables"
				>
				</nuc-two-side-multi-select>
			</div>
		</div>

		<div id="meta-editor" class="search-editor-content">
			<div id="meta-editor-container" class="form-group"
			     *ngIf="getSelectedSearchfilter() && metaEditingActive">
				<div class="meta-buttons-container">
					<button
						*ngIf="!isTempSearchfilter()"
						id="meta-editor-save-changes"
						class="btn meta-editor-button p-1"
						(click)="saveChanges()"
						[disabled]="!isDirty()"
					>
						<i class="fa fa-fw fa-floppy-o"></i>
						{{'webclient.searcheditor.searchfilter.save.changes' | i18n}}
					</button>
					<button
						*ngIf="isTempSearchfilter()"
						id="meta-editor-make-temp-persistent"
						class="btn meta-editor-button p-1"
						(click)="makeTempPersistent()"
					>
						<i class="fa fa-fw fa-floppy-o"></i>
						{{'webclient.searcheditor.searchfilter.make.temp.persistent' | i18n}}
					</button>
				</div>
				<div class="meta-buttons-container">
					<button
						*ngIf="!isTempSearchfilter() && !isShared()"
						id="meta-editor-undo-changes"
						class="btn meta-editor-button p-1"
						(click)="undoChanges()"
						[disabled]="!isDirty()"
					>
						<i class="fa fa-fw fa-undo"></i>
						{{'webclient.searcheditor.searchfilter.undo.changes' | i18n}}
					</button>
				</div>
				<div class="meta-buttons-container">
					<button
						*ngIf="isShared()"
						id="meta-editor-reset-customization"
						class="btn meta-editor-button p-1"
						(click)="resetCustomization()"
						[disabled]="!isCustomized() && !isDirty()"
					>
						<i class="fa fa-fw fa-undo"></i>
						{{'webclient.searcheditor.searchfilter.reset.customization' | i18n}}
					</button>
				</div>
				<div class="meta-buttons-container"
				     *ngIf="!isTempSearchfilter() && !isShared()">
					<button
						id="meta-editor-delete-searchfilter"
						class="btn meta-editor-button p-1"
						(click)="deleteSearchfilter()"
					>
						<i class="fa fa-fw fa-trash"></i>
						{{'webclient.searcheditor.searchfilter.delete' | i18n}}
					</button>
				</div>
				<div *ngIf="!isTempSearchfilter()"
				     class="h-line"></div>
				<div id="meta-editor-name"
				     *ngIf="!isTempSearchfilter() && (!isShared() || isShareAllowed())">
					<span id="meta-editor-name-label">{{'webclient.searcheditor.searchfilter.name' | i18n}}:</span>
					<input
							id="meta-editor-name-input"
							type="text"
							class="form-control form-control-sm"
							[(ngModel)]="customSearchfilterName"
							(input)="getSelectedSearchfilter().dirty = true"
					/>
				</div>
				<div class="meta-buttons-container">
					<button
							id="meta-editor-resort-items"
							class="btn meta-editor-button p-1"
							(click)="resortItems()"
					>
						<i class="fa fa-fw fa-sort"></i>
						{{'webclient.searcheditor.searchfilter.resort.items' | i18n}}
					</button>
				</div>
				<div *ngIf="!isTempSearchfilter()"
					 class="h-line">
				</div>
				<div *ngIf="!isTempSearchfilter()">
					{{'webclient.searcheditor.searchfilter.favorite' | i18n}}
					<input
							type="checkbox"
							id="meta-editor-show-as-favorite"
							value="true"
							[(ngModel)]="showAsFavorite"
							(change)="getSelectedSearchfilter().dirty = true"
					>
					{{'webclient.searcheditor.searchfilter.favorite.icon.picker' | i18n}}:<nuc-icon-picker
						[(selectedIcon)]="favoriteIcon"
						(selectedIconChange)="getSelectedSearchfilter().dirty = true"
						[disabled]="!showAsFavorite"></nuc-icon-picker>
				</div>
				<div id="meta-editor-position"
				     *ngIf="!isTempSearchfilter()">
					<span id="meta-editor-position-label">{{'webclient.searcheditor.searchfilter.position' | i18n}}:</span>
					<input
							id="meta-editor-position-input"
							type="number"
							min="1" max="9999" step="1"
							placeholder="1-9999"
							class="form-control form-control-sm"
							[(ngModel)]="position"
							(input)="getSelectedSearchfilter().dirty = true"
							[disabled]="!showAsFavorite"
					/>
				</div>
			</div>
		</div>

		<div id="search-items" class="search-editor-content">
			<div id="search-items-container" *ngIf="showSearchItems()">
				<div *ngFor="let attribute of getSelectedSearchfilter()?.content?.columns"
				     class="attribute"
				     (mouseover)="attribute.mouseover = true"
				     (mouseleave)="attribute.mouseover = false">
					<div *ngIf="attribute.selected"
					     class="attribute-row-header">
						<input *ngIf="attribute.mouseover"
						       type="checkbox"
						       id="search-item-checkbox-{{attribute.boAttrId}}"
						       [(ngModel)]="attribute.enableSearch"
						       (ngModelChange)="searchItemCheckClicked()">
					</div>

					<div *ngIf="attribute.selected"
					     class="attribute-row">
						<span
						     class="attribute-label"
						     id="attribute-label-{{attribute.boAttrId}}"
						     [ngClass]="{'attribute-label-enabled': attribute.enableSearch}">
							{{attribute.name}}
						</span>
						<button *ngIf="attribute.mouseover"
						        class="btn btn-sm btn-link p-0 searchattribute-remove"
						        id="search-remove-{{attribute.boAttrId}}"
						        (click)="removeSearchItem(attribute)"
						>
							<i class="fa fa-fw fa-times-circle"></i>
						</button>

						<div
						     [ngSwitch]="getSearchComponent(attribute)"
						     class="attribute-editor">

							<div *ngIf="attribute.inputType !== 'BOOLEAN'"
							     class="attribute-operator">
								<select
										class="attribute-operator-select"
										id="search-operator-{{attribute.boAttrId}}"
										[(ngModel)]="attribute.operator"
										(ngModelChange)="inputSearchValue(attribute)"
										(ngSelected)="attribute.operator"
										[disabled]="!attribute.enableSearch || isDisabled()">
									<option *ngFor="let operatorDef of getOperatorDefinitions(attribute.inputType)"
									        id="operator-{{operatorDef.operator}}"
									        [attr.data-operator]="operatorDef.operator"
									        [value]="operatorDef.operator">
										{{operatorDef.label}}
									</option>
								</select>
							</div>

							<div *ngSwitchCase="'boolean'"
							     class="attribute-value-boolean">
								<nuc-search-item-boolean
										id="search-value-boolean-{{attribute.boAttrId}}"
										groupname="search-value-boolean-{{attribute.boAttrId}}"
										[model]="attribute.value"
										(modelChanged)="attribute.value = $event; inputSearchValue(attribute)"
										[disabled]="!attribute.enableSearch || isDisabled()"
								></nuc-search-item-boolean>
							</div>

							<div *ngSwitchCase="'datepicker'"
							     class="attribute-value">
								<nuc-search-item-datechooser
										id="search-value-datepicker-{{attribute.boAttrId}}"
										[model]="attribute.value"
										(modelChanged)="attribute.value = $event; inputSearchValue(attribute)"
										[disabled]="!attribute.enableSearch || isDisabled()"
								></nuc-search-item-datechooser>
							</div>

							<div *ngSwitchCase="'lov'"
							     class="attribute-value lov">
								<nuc-search-item-lov
										id="search-value-lov-{{attribute.boAttrId}}"
										attr.for-id="search-value-lov-{{attribute.boAttrId}}"
										[attribute]="attribute"
										[meta]="getMeta()"
										[attributeMeta]="getAttributeMeta(attribute)"
										[model]="attribute.values"
										(modelChanged)="attribute.values = $event; inputSearchValue(attribute)"
										[disabled]="!attribute.enableSearch || isDisabled()"
								></nuc-search-item-lov>
							</div>

							<div *ngSwitchDefault
							     class="attribute-value">
								<input
										class="form-control form-control-sm search-input"
										id="search-value-string-{{attribute.boAttrId}}"
										[(ngModel)]="attribute.value"
										(ngModelChange)="inputSearchValue(attribute)"
										*ngIf="!getOperatorDefinition(attribute)?.isUnary"
										type="{{attribute.inputType == 'NUMBER' ? 'number' : 'text'}}"
										[disabled]="!attribute.enableSearch || isDisabled()"
										[autofocus]="attribute.focusInput"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="getSelectedSearchfilter() && showSearchItems()" class="attribute-row-header-filler"></div>

			<div class="attribute-selector"
			     *ngIf="getSelectedSearchfilter() && showSearchItems()">
				<span class="attribute-selector-label">{{'webclient.searcheditor.searchattribute.add' | i18n}}</span>
				<nuc-search-attribute-selector
					class="attribute-selector-dropdown"
					[meta]="meta"
					[searchfilter]="getSelectedSearchfilter()"
					(handleChangeOfSelectedSearchfilter)="handleChangeOfSelectedSearchfilter()"
				></nuc-search-attribute-selector>
			</div>
		</div>
	</div>
</div>

