<gridster
	*ngIf="dashboard"
	[options]="options"
>
	<gridster-item
		[item]="item"
		*ngFor="let item of getItems()"
		[attr.item-x]="item.x"
		[attr.item-y]="item.y"
		[attr.item-rows]="item.rows"
		[attr.item-cols]="item.cols"
		[attr.item-type]="item.type"
	>
		<div class="dashboard-item-container">

			<!-- TODO: Create different grid item types dynamically, e.g. with ng-dynamic-component -->
			<nuc-dashboard-tasklist
				*ngIf="item.type === 'tasklist'"
				[item]="item.wrappedItem"
				class="item"
			></nuc-dashboard-tasklist>

			<div class="overlay" *ngIf="configMode">
				<div class="corner">
					<a name="delete-dashboard-item"
						class="mr-1 float-right"
						(click)="removeItem(item)"
					>
						<i class="fa fa-trash"></i>
					</a>
				</div>
			</div>
		</div>
	</gridster-item>
</gridster>
