:host {
	height: 100%
}

.dashboard-item-container {
	width: 100%;
	height: 100%;
	position: relative;
}
.item,
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Delete-Link must be laying over the resize handles */
.corner {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.corner > * {
	float: right;
}
