.chart-types {
	flex-direction: row;
}

.chart-type {
	display: inline-block;
	flex: 1;
}

.active {
	border: 1px solid blue;
}

.inactive {
	opacity: 0.25;
	filter: alpha(opacity=25); /* msie */
}


/* TODO fix after bootstrap update */
.form-check-input {
	margin-left: unset;
}
