<div class="row" *ngIf="canConfigureCharts()">

	<button
		id="configureChart"
		class="btn btn-sm btn-default"
		(click)="toggleConfig()"
	>
		<i class="fa fa-fw fa-cog" [title]="'webclient.charts.configure' | i18n"></i>
	</button>

	<button
		*ngIf="eoChart.chartPreference.dirty"
		id="saveChart"
		class="btn btn-sm btn-primary"
		(click)="save()"
	>
		<i class="fa fa-fw fa-floppy-o" [title]="'webclient.charts.save' | i18n"></i>
	</button>

	<button
		id="deleteChart"
		class="btn btn-sm btn-warning"
		(click)="delete()"
	>
		<i class="fa fa-fw fa-trash" [title]="'webclient.charts.delete' | i18n"></i>
	</button>

	<button
		*ngIf="isExportAvailable()"
		id="exportChart"
		class="btn btn-sm btn-default"
		(click)="exportChart()"
	>
		<i class="fa fa-fw fa-download" [title]="'webclient.charts.export' | i18n"></i>
	</button>

</div>
