<div class="fileupload-container disabled"
     *ngIf="!isWritable() && !isHidden()"
     [id]="getId()"
     [attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"
     disabled
     [ngStyle]="{'background': isImage && getImageUrl() ? 'url(' + getImageUrl() + ') no-repeat': 'none'}"
     [ngClass]="{'image': isImage}"
     (click)="clickOnFile()"
>
	<div
		*ngIf="fileName"
		class="document-filename ellipsis"
	>
		<img src="{{fileIconUrl}}">
		<span>{{fileName}}</span>
	</div>
</div>

<div class="fileupload-container"
     *ngIf="isWritable()"
     [id]="getId()"
     [attr.name]="getNameForHtml()"
	[attr.next-focus-field]="getNextFocusField()"

     ngFileDrop
     [options]="options"
     (onUpload)="handleUpload($event)"
     [uploadInput]="uploadInput"
     (uploadOutput)="handleUpload($event)"

     [ngClass]="{
		'file-over': dragOver,
		'uploaded': isUploaded,
		'image': isImage
		}"
     [ngStyle]="{'background': isImage && getImageUrl() ? 'url(' + getImageUrl() + ') no-repeat': ''}"
     (click)="clickOnFile()"
>
	<div
		*ngIf="fileName"
		class="document-filename ellipsis"
		title="{{fileName}}"
	>
		<img src="{{fileIconUrl}}">
		<span *ngIf="!isImage">
			{{fileName}}
		</span>
	</div>
	<div *ngIf="!documentIsSelected" class="ellipsis">
		<label class="upload-file-select">
			<input type="file"
			       class="hidden"
			       ngFileSelect
			       (uploadOutput)="handleUpload($event)"
			       [options]="options"
			       [uploadInput]="uploadInput"
			>
			<span
				*ngIf='showUploadLabel'
				class="upload-file-select-text"
				[attr.title]="getTitle()"
			>
				{{'webclient.fileupload.upload.selectOrDropFile' | i18n}}
			</span>
		</label>
	</div>
</div>
<span *ngIf="hasDocument() || fileName" class="icons">
	<a
		*ngIf="hasDocument()"
		class="download-file"
		(click)="openDocument()"
		title="{{'webclient.button.download' | i18n}}"
	>
		<span class="fa fa-download fa-lg"></span>
	</a>
	<a
		*ngIf="isWritable()"
		class="reset-document"
		(click)="removeDocument()"
		title="{{'webclient.button.removeDocument' | i18n}}"
	>
		<span class="fa fa-trash fa-lg"></span>
	</a>
</span>
