<ngb-tab
	[id]="id"
	[title]="title"
>
	<ng-template nucTabTitle>
		<ng-container
			*ngTemplateOutlet="titleTemplate ? titleTemplate : defaultTitleTemplate;context:{value: value, index: i}"
		></ng-container>
	</ng-template>

	<ng-template nucTabContent>
		<ng-container ngbTabContent
			*ngTemplateOutlet="contentTemplate ? contentTemplate : defaultContentTemplate;context:{value: value, index: i}"
		></ng-container>
	</ng-template>
</ngb-tab>


<ng-template #defaultTitleTemplate>Default {{title}}</ng-template>
<ng-template #defaultContentTemplate>Default {{value}}</ng-template>
