<nuc-tab-bar
	[values]="getTabs()"
	[ngModel]="getSelectedTab()"

	[titleTemplate]="titleTemplate"
	[contentTemplate]="contentTemplate"
></nuc-tab-bar>

<ng-template
	#titleTemplate
	let-tab="value"
	let-index="index"
>
	<span [title]="tab.title" class="tab-title">
	{{tab.title}}
	</span>
</ng-template>

<ng-template
	#contentTemplate
	let-tab="value"
	let-i="index"
>
	<nuc-web-component
		[eo]="eo"
		[component]="tab.content"
	></nuc-web-component>
</ng-template>
