<div [ngClass]="{'row': !singleSideMode}">
	<div *ngIf="!singleSideMode" class="select-box-container select-box-container-available col-sm-5">
		<fieldset>
			<div class="select-box-header">
				{{ availableHeaderKey | i18n }}
				<span [ngClass]="{ hidden : disableFilter || (availableItems.length <= 8 && !listFilterAvailable.value) }">
					<input
						#listFilterAvailable
						type=”text”
						class="form-control select-box-filter"
						placeholder="Filter"
						(keyup)="0"
					/>
				</span>
			</div>
			<div id="available-items" class="select-box disable-text-selection">
				<div
					*ngFor="let item of availableItems | listFilter: { name: listFilterAvailable.value }; "
					class="select-item"
					[ngClass]="{'marked': item.marked}"
					(click)="toggleMark(item, $event)"
					(dblclick)="select(item)"
					[attr.attr-fqn]="item.boAttrId"
				>
					{{item.name}}
				</div>
			</div>
		</fieldset>
	</div>

	<div *ngIf="!singleSideMode" class="col-sm-2">
		<button (click)="selectAll()" type="button" class="btn btn-secondary btn-block"
		        [disabled]="disableSelectAllButton">
			<i class="fa fa-angle-double-right"></i>
		</button>
		<button (click)="selectMarked()" id="btn-selected-marked" type="button" class="btn btn-secondary btn-block"
		        [disabled]="disableSelectMarkedButton">
			<i class="fa fa-angle-right"></i>
		</button>
		<button (click)="deselectMarked()" id="btn-deselected-marked" type="button" class="btn btn-secondary btn-block"
		        [disabled]="disableDeselectMarkedButton">
			<i class="fa fa-angle-left"></i>
		</button>
		<button (click)="deselectAll()" id="btn-deselect-all" type="button" class="btn btn-secondary btn-block"
		        [disabled]="disableDeselectAllButton">
			<i class="fa fa-angle-double-left "></i>
		</button>
	</div>

	<div class="select-box-container select-box-container-selected"
	     [ngClass]="{'col-sm-5': !singleSideMode}">
		<fieldset>
			<div class="select-box-header">
				{{ selectedHeaderKey | i18n }}
				<span [ngClass]="{ hidden : disableFilter || (selectedItems.length <= 8 && !listFilterSelected.value) }">
					<input
						#listFilterSelected
						type=”text”
						class="form-control select-box-filter"
						placeholder="Filter"
						(keyup)="0"
					/>
				</span>
			</div>
			<div
				id="selected-items"
				class="select-box disable-text-selection"
				dnd-sortable-container [sortableData]="selectedItems"
			>
				<div
					*ngFor="let item of selectedItems | listFilter: { name: listFilterSelected.value }; let i = index;"
					class="select-item"
					[ngClass]="{'marked': item.marked}"
					[attr.attr-fqn]="item.boAttrId"

					dnd-sortable
					[sortableIndex]="i"
					[dragEnabled]="listFilterSelected.value.length === 0"
					(onDropSuccess)="dropped(selectedItems)"
				>
					<div
						class="select-item-name"
						(click)="toggleMark(item, $event)"
						(dblclick)="deselect(item)"
					>
						{{item.name}}
						<span
							*ngIf="item.sort"
							class="sort-icon fa"
							[ngClass]="item.sort.direction == 'asc' ? 'fa-chevron-up' : item.sort.direction == 'desc' ? 'fa-chevron-down' : ''"
						>{{item.sort.prio}}</span>

					</div>
					<div class="direction-icons">
						<span
							(click)="moveLeft(i)"
							class="move-left fa fa-chevron-up"
							[ngClass]="i === 0 ? 'disabled' : ''"
						></span>
						<span
							(click)="moveRight(i)"
							class="move-right fa fa-chevron-down"
							[ngClass]="i === (selectedItems.length - 1) ? 'disabled' : ''"
						></span>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>
