<div class="form-group">
	<label for="dashboardName">{{'webclient.dashboard.name' | i18n}}</label><br/>
	<input
		[ngModel]="dashboard.name"
		(ngModelChange)="setName($event)"
		type="text"
		class="form-control"
		id="dashboardName"
		placeholder="Enter name"
	>
</div>

<div class="form-group">
	<label for="taskLists">{{'webclient.dashboard.taskLists' | i18n}}</label><br/>
	<nuc-dropdown
		#taskLists
		id="taskLists"
		class=""
		[suggestions]="taskListMetas"
		field="name"
		[ngModel]="undefined"
		(onSelect)="addTaskList($event)"
		dropdown="true"
		appendTo="body"
	></nuc-dropdown>
</div>
