<div class="modal-header">
	<ng-container
		*ngTemplateOutlet="headerTemplate ? headerTemplate: defaultHeader"
	></ng-container>
</div>

<div class="modal-body">
	<ng-content></ng-content>
</div>

<div class="modal-footer" *ngIf="footerTemplate">
	<ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
</div>



<ng-template #defaultHeader>
	<h5 class="modal-title">{{title}}</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</ng-template>
