<p-autoComplete
	#autoComplete

	(completeMethod)="onComplete($event.query)"
	(keyup)="keyup($event)"
	(ngModelChange)="setValue($event)"
	(onBlur)="onBlur()"
	(onDropdownClick)="toggleLovPanel($event)"
	(click)="toggleLovPanel($event)"
	(onSelect)="selectEntry($event)"

	[appendTo]="appendTo"
	[attr.for-id]="getId()"
	[disabled]="disabled"
	[dropdown]="dropdown"
	[field]="field"
	[inputId]="getId()"
	[multiple]="multiple"
	[ngModel]="value"
	[placeholder]="placeholder"
	[suggestions]="filteredSuggestions"
>
	<ng-template let-ddItem pTemplate="item">
		<div class="dd-item"
		     [ngClass]="{'selected': selectedField ? isSelected(ddItem, selectedField) : false,
		                 'dirty': dirtyField ? isDirty(ddItem, dirtyField) : false,
		                 'secondary': secondaryField ? isSecondary(ddItem, secondaryField) : false}">
			{{field ? resolveFieldData(ddItem, field) : ddItem}}
			<span *ngIf="dirtyField ? isDirty(ddItem, dirtyField) : false"> <i class="fa fa-floppy-o" aria-hidden="true"></i></span>
		</div>
	</ng-template>
</p-autoComplete>
