<div class="toolbar">
	<button *ngIf="!showProgress()"
	        id="backToDetails"
	        class="btn btn-sm btn-success toolbar-item"
	        (click)="backToDetails()"
	>
		<i class="fa fa-fw fa-arrow-left"></i>
		{{'webclient.button.backToDetails' | i18n}}
	</button>
	<button *ngIf="showProgress()"
		id="closeProgress"
		class="btn btn-sm btn-success toolbar-item"
		(click)="closeProgress()"
	>
		<i class="fa fa-fw fa-times"></i>
		{{'webclient.button.close' | i18n}}
	</button>
</div>

<div
	class="collective-processing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"
>
	<span *ngIf="!showProgress()">
		<p *ngIf="multiSelectionResult.headerMultiSelectionAll && !multiSelectionResult.hasIds()">
			{{'webclient.collectiveProcessing.header.all' | i18n}}</p>
		<p *ngIf="multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds()>1">
			{{'webclient.collectiveProcessing.header.allExcept' | i18n:multiSelectionResult.countIds()}}</p>
		<p *ngIf="multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds()==1">
			{{'webclient.collectiveProcessing.header.allExceptOne' | i18n}}</p>
		<p *ngIf="!multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds()>1">
			{{'webclient.collectiveProcessing.header.many' | i18n:multiSelectionResult.countIds()}}</p>
		<p *ngIf="!multiSelectionResult.headerMultiSelectionAll && multiSelectionResult.countIds()==1">
			{{'webclient.collectiveProcessing.header.one' | i18n}}</p>
	</span>
	<span *ngIf="showProgress()">
		<p>{{'webclient.collectiveProcessing.header.result' | i18n}}</p>
	</span>
</div>

<div class="container-fluid card-deck mb-3 mx-auto text-container"
     *ngIf="!showProgress()">
	<div class="card mb-4 shadow-sm">
		<div class="card-header">
			<span class="my-0 font-weight-normal">Bearbeiten (Dummy)</span>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><a href="#" class="card-link">Feldwert ändern</a>
				<div class="card-function-icon"><sup><span class="fa fa-fw fa-pencil"></span></sup></div>
			</li>
			<li class="list-group-item"><a href="#" class="card-link">Löschen</a>
				<div class="card-function-icon"><sup><span class="fa fa-fw fa-trash-o"></span></sup></div>
			</li>
		</ul>
	</div>
	<div *ngIf="selectionOptions && selectionOptions.stateChanges" class="card mb-4 shadow-sm">
		<div class="card-header">
			<span class="my-0 font-weight-normal">Statuswechsel</span>
		</div>
		<ul class="list-group list-group-flush">
			<li *ngFor="let stateChange of selectionOptions.stateChanges"
			    class="list-group-item">
				<a (click)="executeStateChange(stateChange)" class="card-link" href="#">{{stateChange.name}}</a>
				<div class="card-function-icon"><sup><span>{{stateChange.subName}}</span></sup></div>
			</li>
		</ul>
	</div>
	<div class="card mb-4 shadow-sm">
		<div class="card-header">
			<span class="my-0 font-weight-normal">Funktionen (Dummy)</span>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><a href="#" class="card-link">Rückfrage an Lieferant stellen</a>
				<div class="card-function-icon"><sup><span class="fa fa-fw fa-code"></span></sup></div>
			</li>
			<li class="list-group-item"><a href="#" class="card-link">Nachkalkulation anstoßen</a>
				<div class="card-function-icon"><sup><span class="fa fa-fw fa-code"></span></sup></div>
			</li>
			<li class="list-group-item"><a href="#" class="card-link">Rechnung schreiben</a>
				<div class="card-function-icon"><sup><span class="fa fa-fw fa-plus-square-o"></span></sup></div>
			</li>
			<li class="list-group-item"><a href="#" class="card-link">Formular drucken</a>
				<div class="card-function-icon"><sup><span class="fa fa-fw fa-print"></span></sup></div>
			</li>
		</ul>
	</div>
</div>

<nuc-collective-processing-progress *ngIf="showProgress()">
</nuc-collective-processing-progress>
