<div class="toolbar"
	*ngIf="collectiveProcessing">
	<nuc-detail-toolbar-item class="toolbar-item">
		<button
			id="backToCollectiveProcessing"
			class="btn btn-sm btn-success"
			(click)="onBackToCollectiveProcessingClick.emit()"
		>
			<i class="fa fa-fw fa-arrow-left"></i>
			{{'webclient.button.backToCollectiveProcessing' | i18n}}
		</button>
	</nuc-detail-toolbar-item>
</div>
<div class="toolbar"
	*ngIf="!collectiveProcessing">
	<nuc-detail-buttons
		[eo]="eo"
		[canCreateBo]="canCreateBo"
		[autoSelectAfterSaveEnabled]="autoSelectAfterSaveEnabled"
		[autoSelectAfterDeleteEnabled]="autoSelectAfterDeleteEnabled"
		[useResultServiceForCancelation]="useResultServiceForCancelation"
		[showCancelForNewObject]="showCancelForNewObject"
		[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
	></nuc-detail-buttons>

	<nuc-detail-toolbar-printout-item
		[eo]="eo"
	></nuc-detail-toolbar-printout-item>

	<nuc-detail-toolbar-state-item
		[eo]="eo"
	></nuc-detail-toolbar-state-item>

	<nuc-detail-toolbar-generation-item
		[eo]="eo"
	></nuc-detail-toolbar-generation-item>

	<nuc-detail-toolbar-locking-item
		[eo]="eo"
	></nuc-detail-toolbar-locking-item>

	<nuc-detail-toolbar-chart-item
		[eo]="eo"
	></nuc-detail-toolbar-chart-item>
</div>
