<nuc-addon-executor
	[addonPosition]="'menu-bottom'"
	[entityClassId]="getMeta()?.getEntityClassId()"
></nuc-addon-executor>

<div id="toolbar" class="bg-faded">
	<nuc-explorertrees
		[selected]="getExplorerTree()"
		(onSelect)="selectExplorerTree($event)"
	>
	</nuc-explorertrees>

	<nuc-view-preferences-config
		[mainbarButton]="true"
		[meta]="getMeta()"
		[selectedSideviewmenuPref$]="getSideviewmenuPrefSubject()"
	>
	</nuc-view-preferences-config>

	<nuc-search-bar
		[meta]="getMeta()"
	></nuc-search-bar>

	<nuc-perspective
	></nuc-perspective>
</div>

<nuc-addon-executor
	[addonPosition]="'content-top'"
	[entityClassId]="getMeta()?.getEntityClassId()"
></nuc-addon-executor>

<div id="content">

	<nuc-addon-executor
		[addonPosition]="'content-left'"
		[entityClassId]="getMeta()?.getEntityClassId()"
	></nuc-addon-executor>

	<!-- TODO: Use auxiliary routes for switching between sidebar components -->
	<div id="sidebar-container" class="navigation-container">
		<nuc-sidebar
			#sidebar
			*ngIf="getSidebarMode() === 'sidebar'"
			[meta]="getMeta()"
			[sideviewmenuPreference]="getSideviewmenuPref()"
			[searchtemplatePreference]="getSearchtemplatePref()"
			[multiSelectionDisabled]="isMultiSelectionDisabled()"
			(onMultiSelectionChange)="multiSelectionChanged($event)"
		></nuc-sidebar>
		<nuc-sidetree
			*ngIf="getSidebarMode() === 'tree'"
		    [tree]="getExplorerTree()"
		    (selectedNode)="selectedTreeNode($event)"
		></nuc-sidetree>
		<nuc-side-task-list
			*ngIf="getSidebarMode() === 'task-list'"
		></nuc-side-task-list>
	</div>

	<div id="collective-processing-container"
	     *ngIf="isShowCollectiveProcessing()">
		<nuc-collective-processing>
		</nuc-collective-processing>
	</div>

	<div id="detail-container"
	     *ngIf="!isShowCollectiveProcessing()">
		<nuc-addon-executor
			[addonPosition]="'detail-top'"
			[entityClassId]="getMeta()?.getEntityClassId()"
		></nuc-addon-executor>

		<nuc-detail
			[meta]="getMeta()"
			[eo]="getSelectedEo()"
			[canCreateBo]="canCreateBo()"
			[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
			[collectiveProcessing]="collectiveProcessing"
			(onBackToCollectiveProcessingClick)="setShowCollectiveProcessing(true)"
		></nuc-detail>

		<nuc-detail-statusbar></nuc-detail-statusbar>

		<nuc-addon-executor
			[addonPosition]="'detail-bottom'"
			[entityClassId]="getMeta()?.getEntityClassId()"
		></nuc-addon-executor>
	</div>

	<nuc-addon-executor
		[addonPosition]="'content-right'"
		[entityClassId]="getMeta()?.getEntityClassId()"
	></nuc-addon-executor>

</div>

<nuc-addon-executor
	[addonPosition]="'content-bottom'"
	[entityClassId]="getMeta()?.getEntityClassId()"
></nuc-addon-executor>
