<ul id="searchfilter-selector-dropdown" class="navbar-nav">
	<li class="nav-item dropdown"
	    nucClickOutside (clickOutside)="setPopoverShowing(false)">
		<a  id="searchfilter-selector-dropdown-link"
		    class="nav-link dropdown-toggle ellipsis"
		    [ngClass]="{'disabled': disabled}"
			href="#"
		    (click)="togglePopover()"
		>
			{{getCurrentSearchfilterName()}}
		</a>
		<div #searchfilterSelectorDropdownMenu
		     id="searchfilter-selector-dropdown-menu"
		     class="dropdown-menu">
			<div
			     *ngFor="let sf of allSearchfilters">
				<div *ngIf="sf.dirty" class="searchfilter-dirty-icon"><i class="fa fa-floppy-o" aria-hidden="true"></i></div>
				<a class="dropdown-item"
				   [ngClass]="{'selected': sf.selected, 'dirty': sf.dirty}"
				   (click)="selectSearchfilter(sf)">
					{{sf.name}}
				</a>
			</div>
		</div>
	</li>
</ul>
