a {
	cursor: pointer;
}

/* Button size must be fixed or we have different sized buttons because of different font sizes. */
button {
	padding: 0;
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
	font-size: 1.125em;
}

button i {
	width: 100%;
	height: 100%;
}

#newEO {
	padding-top: 1px;
}

/* Font of the cancel-button must be a bit bigger, because the eraser icon is too small. See NUCLOS-5715 */
#cancelEO {
	padding: 0;
	font-size: 1.375em;
}

#mandatorSelection #choose-mandator-cancel,
#mandatorSelection #mandator-label,
#mandatorSelection #mandators {
	float: left;
	margin-right: 10px;
}

#mandatorSelection #mandators {
	height: 0;
	overflow: visible;
}

nuc-addon-executor {
	margin-left: 1px;
}
