<nuc-detail-toolbar-item
	*ngIf="hasVisibleButtons()"
	class="toolbar-item"
>
	<button
		id="selectEntryInOtherWindow"
		class="btn btn-sm btn-success"
		*ngIf="showReferenceSelectionButton"
		(click)="selectThisEoInOtherWindow()"
	>
		<i class="fa fa-fw fa-check" title="{{'webclient.button.selectEntryInOtherWindow' | i18n}}"></i>
	</button>

	<span *ngIf="!showReferenceSelectionButton">

        <span id="mandatorSelection" *ngIf="showMandatorSelection">
	        <button id="choose-mandator-cancel" class="btn btn-sm btn-warning" (click)="chooseMandatorCancel()">
		        <i title="{{'webclient.button.cancel' | i18n}}" class="fa fa-fw fa-remove"></i>
	        </button>
	        <span id="mandator-label">{{mandatorLabel}}:</span>
	        <div id="mandators">
		        <div *ngFor="let mandator of mandators">
			        <a (click)="selectMandator(mandator)">
				        <i class="fa fa-fw fa-caret-right" aria-hidden="true"></i><span class="mandator-label">{{mandator.path}}</span>
			        </a>
		        </div>
	        </div>
        </span>

        <span *ngIf="!showMandatorSelection"
			#popover
			data-toggle="popover"
			data-placement="bottom"
			data-trigger="manual"
			[attr.data-title]="'webclient.master.dirty.popover.title' | i18n"
			[attr.data-content]="'webclient.master.dirty.popover.text' | i18n"
		>

			<span *ngFor="let button of buttons">
				<button
					*ngIf="button.isVisible(eo)"
					[disabled]="!button.isEnabled(eo)"
					[id]="button.id"
					[class]="button.buttonCssClass"
					(click)="button.action(eo)"
					(blur)="button.blur && button.blur()"
				>
					<i [class]="button.iconCssClass" title="{{button.labelKey | i18n}}"></i>
				</button>
			</span>
        </span>

		<nuc-addon-executor
			[addonPosition]="'detail-toolbar'"
			[entityClassId]="entityClassId"
		></nuc-addon-executor>
	</span>
</nuc-detail-toolbar-item>

<!-- For testing purposes -->
<input type="hidden" name="isDirty" [value]="!!eo?.isDirty()"/>
<input type="hidden" name="id" [value]="eo?.getId()"/>
