:host {
	float: right;
	white-space: nowrap;
}

.perspective-button-outer-container {
	height: 100%;
	/*line-height: 32px;   !* TODO: Dynamic line height *!*/
	display: table-cell;
	vertical-align: top;
	white-space: nowrap;
}

.perspective-button-inner-container {
	display: block;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	background-color: #5E5E5E;
	/*vertical-align: middle;*/
	padding-left: 11px;
	padding-right: 11px;
	border-radius: 0px 0px 0px 15px;
}
