:host {
	position: relative;
	width: 100%;
    background-color: rgba(255, 255, 255, .9);
}

.lov-container {
	position: relative;
	height: 100%;
    background-color: inherit;
}

button {
	height: 100%;
	background: lightgray;
	border-color: lightgray;
}

:host, :host .form-control {
  font-size: 11px;
}

@import "lov-overlay.scss";

.lov-overlay {
	z-index: -1;
}

:host:hover .lov-overlay {
	z-index: 101;
	animation: showtooltip 1s linear alternate;
}

@keyframes showtooltip {
	from { z-index: -1; }
	to { z-index: 101; }
}

.lov-overlay:hover i {
	font-weight: bolder;
}


a {
	cursor: pointer;
}

p-autocomplete {
	height: 100%;
	margin-right: auto;
	border: 0px;
}

:host /deep/ .ui-autocomplete-loader {
    hidden: true;
}

:host /deep/ span {
	height: 100%;
}

:host /deep/ input {
	height: 100%;
    opacity: 1;
    background-color: #FFFFFF;
}

:host /deep/ input:disabled {
	background-color: #f8f8f8;
    opacity: 1;
	cursor: not-allowed !important;
}

@import "lov-highlight.scss";
