<div class="container-fluid collective-processing-progress-container">
	<!--nuc-subform-buttons
		[subform]="this"
		[meta]="subformMeta"
	></nuc-subform-buttons-->

	<ag-grid-angular
		class="ag-fresh collective-processing-progress"
		[gridOptions]="gridOptions"
		[columnDefs]="columnDefs"
		[rowData]="rowData"
	>
	</ag-grid-angular>
</div>
