<div
	*ngIf="changedByString"
	title="{{'webclient.sideview.detail.created' | i18n}}: {{createdByString}} [{{createdAtString}}]"
>
	<div class="sideview-statusbar-content">
		{{'webclient.sideview.detail.changed' | i18n}}: <span id="changed-by">{{changedByString}}</span> [<span id="changed-at">{{changedAtString}}</span>]
	</div>
</div>
