@import "../statusbar.scss";

:host {
	height: $statusbar-height;
	background-color: $statusbar-background-color;
	position: relative;
	border-right: 1px solid #e3e3e3;
}


.sideview-statusbar-content {
	float: right;
	font-size: $status-bar-font-size;
	color: $statusbar-text-color;
	white-space: nowrap;
	padding-top: 4px;
	padding-left: 4px;
	margin-right: 5px;
}

