@import "../../../styles";

$icon-default-color: #337DC3;

:host {
	font-size: 0.75rem;
	position: relative;
	height: 100%;
}

.container-fluid {
	padding: 0px
}

.grid-container {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.nucgrid {
	flex: 1;
}

/*
 only for Safari browser - this would break layout in firefox
 */
.browser-safari :host {
	display: flex;
	flex-direction: column;
}

#detail {
	height: 100%;
	position: absolute;
	width: 200px;
}

#sidetree-list-container {
	width: 100%;
	overflow: auto;
}

#sidetree {
	flex: 1;
	display: flex;
	flex-flow: column;
	height: 100%;
	min-width: 250px;
	border-right: 1px solid lightgray;
}

#sidetree > #sidetree-list-container {
	flex: 1;
}

.tdSelectClass {
	background-color: $row-selected-background-color;
}

.trSelectClass td, .tdSelectClass:hover {
	background-color: #C0C0C0 !important;
}

.trDirtyClass td, .tdDirtyClass {
	background-color: $row-modified-background-color !important;
}

.trDirtyClass:hover td, .tdDirtyClass:hover {
	background-color: $row-modified-selected-background-color !important;
}

.trNewClass td, .tdNewClass {
	background-color: $row-new-background-color !important;
}

.trNewClass:hover td, .tdNewClass:hover {
	background-color: $row-new-selected-background-color !important;
}

.tdSelectClass.tdRowColored {
	filter: brightness(60%);
}

.tdRowColored:hover {
	filter: brightness(80%);
}

.icon-column {
	min-width: 22px;
	min-height: 26px;

}
